header{
    /* border:1px solid; */
    display: flex;
    flex-direction: column;
    background:#e5e5e5;
    /* margin: 0 20%; */
}
#img{
    height:4em;
}

.titleLogo{
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleLogo h1{
    font-weight: 600;
    /* font-family: 'Tai Heritage Pro', serif; */
    font-family: 'Work Sans', sans-serif;
}


.shoppingCar {
    margin: 1em 1em auto;
    display: flex;
    justify-content: flex-end;
}
