
nav a{
    color:#222;
    font-weight: 400;
    padding: 5px 0;
    text-transform: uppercase;
    z-index: 100; 
    text-decoration: none;    
}

.nav-item{
    margin-right: 20px;
    margin-left: 20px;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item a:hover, a:active {
    border-bottom: 2px solid #20201d;
    text-decoration: none;
    transition-duration: 0.1s;
}
